body {
  color: #fff;
  background: -moz-linear-gradient(279deg,
      rgba(110, 111, 107, 0.55) 0%,
      rgba(110, 111, 107, 0.59) 7%,
      rgba(110, 111, 107, 1) 70%,
      rgba(110, 111, 107, 1) 73%);
  /* ff3.6+ */
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      color-stop(0%, rgba(110, 111, 107, 0.55)),
      color-stop(7%, rgba(110, 111, 107, 0.59)),
      color-stop(70%, rgba(110, 111, 107, 1)),
      color-stop(73%, rgba(110, 111, 107, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(279deg,
      rgba(110, 111, 107, 0.55) 0%,
      rgba(110, 111, 107, 0.59) 7%,
      rgba(110, 111, 107, 1) 70%,
      rgba(110, 111, 107, 1) 73%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(279deg,
      rgba(110, 111, 107, 0.55) 0%,
      rgba(110, 111, 107, 0.59) 7%,
      rgba(110, 111, 107, 1) 70%,
      rgba(110, 111, 107, 1) 73%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(279deg,
      rgba(110, 111, 107, 0.55) 0%,
      rgba(110, 111, 107, 0.59) 7%,
      rgba(110, 111, 107, 1) 70%,
      rgba(110, 111, 107, 1) 73%);
  /* ie10+ */
  background: linear-gradient(171deg,
      rgba(110, 111, 107, 0.55) 0%,
      rgba(110, 111, 107, 0.59) 7%,
      rgba(110, 111, 107, 1) 70%,
      rgba(110, 111, 107, 1) 73%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E6F6B', endColorstr='#6E6F6B', GradientType=0);
  /* ie6-9 */
}

/* start navbar */
.navbar {
  background-color: #434440;
}

.navbar a {
  color: #fff;
}



/* end navbar */

/* start hero */
#hero {
  padding-bottom: 3em;
}

#hero a:hover {
  text-decoration: none;
  transform: scale(1.01);
}

.card {
  background-color: #1c1d1a;
  border: 0;
  -webkit-box-shadow: 3px 3px 53px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 3px 3px 53px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 3px 3px 53px -4px rgba(0, 0, 0, 0.61);
  width: 18rem;
}

.card-title {
  background-color: #434440;
  padding: 16px;
  text-align: center;
  color: #fff;
}

.card .card-body .blog-pic {
  position: relative;
  left: 16px;
}

@media only screen and (max-width: 767px) {
  .card {
    width: 15em;
    margin: 0 2em;
  }
}

@media only screen and (max-width: 576px) {
  .card {
    width: 10em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
}

.post-job {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.post-job-title {
  grid-area: 1 / 1 / 2 / 6;
}

.post-job-body {
  grid-area: 2 / 1 / 6 / 6;
}

/* end hero */

/* start steps */
#steps li {
  margin: 10px 0px;
}

#steps p {
  font-weight: bold;
  font-size: 2em;
}

/* end steps */

/* start offer */
#offer {
  padding-bottom: 3em;
}

#offer .header {
  font-weight: bold;
  font-size: 3em;
}

#offer .description {
  font-weight: 700;
}

/* end offer */

/* start footer */
#footer {
  background-color: #1c1d1a;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}

/* end footer */